.header {
  min-height: 769px;
  width: 100%;
  background-image: url('../../images/header-bg.jpg');
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 41px;
  padding-bottom: 71px;
  position: relative;
}
