.about {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 57px;
  box-sizing: border-box;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
