.services__subtitle {
  margin: 0;
  width: 43%;
  font-size: 11px;
  line-height: 1.73;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin-right: 3%; /*~30px*/
  margin-left: 16.5%; /*~155px*/
}
